/*  import font familys  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    ;
}

/* Gloval object  */
.PTitle {
    text-align: center;
    margin: 20px;
    font-size: 1.4rem;
}


/*  merkup */
.container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    background: #000;
    padding: 14px;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
}

.container .P {
    color: #00ff62;
    ;
}

/*   Number list */
.Number{
    font-size: 1.8rem;
    color: #a3a3a3;
    border-bottom: 5px solid #00ff62;
    border-bottom-right-radius: 50px;
}
/*  ul li */









@media screen and (max-width:570px) {
    .projects nav ul li a {
        color: #fff;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 10px;

    }

    .projects ul li {
        background: #000;
        padding: 20px;
    }

}

@media screen and (max-width:770px) {
    .projects nav ul li {
        color: #fff;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 9px;
        font-size: 1.8rem;
        font-weight: bold;
        border-radius: 0.5rem;


    }

    .projects nav ul li a {
        color: #fff;
        margin: 10px;
    }

    .projects ul li {
        background: #000;
        padding: 20px;

    }
}